Allstate 1B Project

References:

https://www.kaggle.com/code/imoore/intro-to-exploratory-data-analysis-eda-in-python

In [ ]:

# Mount Google Drive in Colab
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# load data (Select on folder in left pane and you should see your drive)
filepath = "/content/drive/MyDrive/ALL projects/claims_data.csv"
df = pd.read_csv(filepath)

In [ ]:
df.head()

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,loss
0,1,A,B,A,B,A,A,A,A,B,...,0.718367,0.335060,0.30260,0.67135,0.83510,0.569745,0.594646,0.822493,0.714843,2213.18
1,2,A,B,A,A,A,A,A,A,B,...,0.438917,0.436585,0.60087,0.35127,0.43919,0.338312,0.366307,0.611431,0.304496,1283.60
2,5,A,B,A,A,B,A,A,A,B,...,0.289648,0.315545,0.27320,0.26076,0.32446,0.381398,0.373424,0.195709,0.774425,3005.09
3,10,B,B,A,B,A,A,A,A,B,...,0.440945,0.391128,0.31796,0.32128,0.44467,0.327915,0.321570,0.605077,0.602642,939.85
4,11,A,B,A,B,A,A,A,A,B,...,0.178193,0.247408,0.24564,0.22089,0.21230,0.204687,0.202213,0.246011,0.432606,2763.85

In [ ]:
df.shape

(188318, 132)

Data is already one-hot-encoded and prepared for machine learning alogrithm.
The categories and content are unknown, however the Challenge Advisor said we didn't need to know those.

In [ ]:
# Count nulls and only show columns whose null_count is > 0.
null_counts = df.isnull().sum()
null_counts[null_counts > 0]

Series([], dtype: int64)

ML Model: Ridge Regression

In [ ]:
from sklearn.linear_model import Ridge

In [ ]:
# instantiate the model